@{
    ViewData["Title"] = "Add a Movie";
}
<h1 class="text-center">Add a Movie</h1>
<form method="post" asp-controller="Movies" asp-action="SaveMovie" class="container">
    <div class="mb-3">
        <label class="form-label">Title:</label>
        <input type="text" name="Title" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Year:</label>
        <input type="number" name="Year" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Director:</label>
        <input type="text" name="Director" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Rating:</label>
        <select name="Rating" class="form-select" required>
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" name="Edited" class="form-check-input" value="true" />
        <label class="form-check-label">Edited</label>
    </div>
    <div class="mb-3">
        <label class="form-label">Lent To:</label>
        <input type="text" name="LentTo" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Notes:</label>
        <input type="text" name="Notes" class="form-control" maxlength="25" />
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>
