@{
    ViewData["Title"] = "Home";
}
<h1 class="text-center">The Joel Hilton Film Collection</h1>
<div class="text-center">
    <img src="/images/Hilton Photo.jpg" alt="Joel Hilton" class="img-fluid" />
</div>